@model CarSales.API.Models.VehicleSeller

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleSeller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Seller.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleAdvertisement.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleAdvertisement.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
