@model CarSales.API.Models.VehicleAdvertisement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VehicleAdvertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EngineCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EngineCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AudoMeter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AudoMeter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Feature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Feature)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spects)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spects)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleBody.BodyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleBody.BodyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleFuel.FuelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleFuel.FuelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleMake.VehicleMake1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleMake.VehicleMake1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel.VehicleModel1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel.VehicleModel1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Reference_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
